*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #56CCF2,#2F80ED */

main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: #56CCF2;
    background-image: url("./images/programmer.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: left 5% bottom 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4,h3,h2,h1 {
    color: #1d4375;
    font-weight: 600;
    opacity: 0.8;
  }

.glass{
    background: white;
    display: flex;
    min-height: 90vh;
    width: 75%;
    backdrop-filter: blur(3px);
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.3)
        );
    border-radius: 15px;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.link img{
    height: 30px;
    width: 30px;
}


.dashboard{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.1)
        );
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .material-icons{
    opacity: 0;
}

.material-icons:hover{
    opacity: 1;
} */

.info{
    flex: 2;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

.link{
    display: flex;
    margin: 5px;
    padding: 15px;
    align-items: center;
}

.link h3{
    padding: 0px 10px;
}

.about{
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.5)
        );
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    padding: 10px;
    width: 170px;
}

.title{
    /* margin: 15px; */
    display: flex;
    flex-direction: column;
}

.title h1{
    flex: 1.5;
    /* padding-left: 2%; */
}

.objective h4{
    flex: 4;
}

.fact{
    flex: 1;
    position: relative;
    position: right 5px;
}

.objective{
    margin-top: 7px;
    display: flex;
}

.details{
    display: flex;
    /* justify-content: space-between; */
}

.lang{
    /* margin: 15px; */
    padding: 15px;
    /* margin-left: 30px; */
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.1)
        );
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul{
    columns: 2;
}

.lang ul, .tools ul{
    padding-left: 20px;
}

.tools{
    padding: 15px;
    margin-left: 30px;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.1)
        );
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress{
    background: linear-gradient(to right top, #56CCF2, #2F80ED);
    width: 100%;
    height: 70%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 70%;
  }

.progress.one::after{
    left: 87%;
}

.progress.two::after{
    left: 79%;
}

.progress.three::after{
    left: 80%;
}

.grade{
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }

.marks{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
}

.card img{
    height: 30px;
    width: 30px;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #56CCF2, #2F80ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





@media screen and (max-width: 620px){

    .glass{
        display: block;
        background: white;
        min-height: 80vh;
        width: 90%;
        margin: 7px;
        background: linear-gradient(
            to right bottom, 
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.3)
            );
        border-radius: 15px;
        backdrop-filter: blur(2px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

   
    .info{
        display: block;
        flex: 2;
        margin: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .title{
        /* margin: 15px; */
        display: block;
    }

    .marks{
        display: flex;
        flex-direction: column;
    }

    .details{
        display:block;
        justify-content: space-between;
    }

    .objective{
        display: block;
    }

    .objective h4{
        display: flex;
        flex-direction: column;
    }
    .fact{
        margin-top: 5px;
    }

    .about{
        margin: 10px;
    }


    .tools{
        padding: 15px;
        margin-left: 0;
        margin-top: 20px;
        background: linear-gradient(
            to right bottom, 
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.1)
            );
        border-radius:15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
}